### Question 1: Extracting Tesla Stock Data Using yfinance

In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.40-py2.py3-none-any.whl (73 kB)
     |████████████████████████████████| 73 kB 4.8 MB/s eta 0:00:011
Collecting peewee>=3.16.2
  Downloading peewee-3.17.5.tar.gz (3.0 MB)
     |████████████████████████████████| 3.0 MB 20.7 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 14.3 MB/s eta 0:00:01
Collecting requests>=2.31
  Downloading requests-2.32.3-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 14.3 MB/s eta 0:00:01
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.4.tar.gz (315 kB)
     |████████████████████████████████| 315 kB 19.6 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting platformdirs>=2.0.0
  Downloading platformdirs-4.2.2-py3-none-any.whl (18 kB)
Collecting pytz>=2022.5
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 36.7 MB/s eta 0:00:01
Collecting lxml>=4.9.1
  Downloading lxml-5.2.2-cp39-cp39-macosx_10_9_x86_64.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 22.8 MB/s eta 0:00:01
Requirement already satisfied: beautifulsoup4>=4.11.1 in ./opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: pandas>=1.3.0 in ./opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.2)
Requirement already satisfied: numpy>=1.16.5 in ./opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: soupsieve>1.2 in ./opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: webencodings in ./opt/anaconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer<4,>=2 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.31->yfinance) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.3)
Building wheels for collected packages: frozendict, peewee
  Building wheel for frozendict (PEP 517) ... done
  Created wheel for frozendict: filename=frozendict-2.4.4-cp39-cp39-macosx_10_9_x86_64.whl size=16034 sha256=0c6740d49c0ccc42edc721ac38d258e0ca0c1991a247c7e8005d296c72a38a51
  Stored in directory: /Users/saadkhan/Library/Caches/pip/wheels/fa/a3/fa/ee5dd1c7ded39e90b84882fcf272ab9f8801eafb7094a5c214
  Building wheel for peewee (PEP 517) ... done
  Created wheel for peewee: filename=peewee-3.17.5-py3-none-any.whl size=138634 sha256=ca21b2757f31c2902e92a4d3fa68acd29c2652c5e48d8f272b2852f2f57cf7f7
  Stored in directory: /Users/saadkhan/Library/Caches/pip/wheels/95/bd/4e/15d1893c245357e4d2353e77456c0be9561d1942ed9fe664ca
Successfully built frozendict peewee
Installing collected packages: pytz, requests, platformdirs, peewee, multitasking, lxml, html5lib, frozendict, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2021.3
    Uninstalling pytz-2021.3:
      Successfully uninstalled pytz-2021.3
  Attempting uninstall: requests
    Found existing installation: requests 2.27.1
    Uninstalling requests-2.27.1:
      Successfully uninstalled requests-2.27.1
  Attempting uninstall: lxml
    Found existing installation: lxml 4.8.0
    Uninstalling lxml-4.8.0:
      Successfully uninstalled lxml-4.8.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
Successfully installed frozendict-2.4.4 html5lib-1.1 lxml-5.2.2 multitasking-0.0.11 peewee-3.17.5 platformdirs-4.2.2 pytz-2024.1 requests-2.32.3 yfinance-0.2.40
Note: you may need to restart the kernel to use updated packages.

In [249]:
import pandas as pd
from matplotlib import pyplot as plt

In [260]:
import yfinance as yf

ticker_symbol = "TSLA"

tesla_data = yf.Ticker(ticker_symbol)

In [261]:
tesla_data = pd.DataFrame(tesla_data.history(period="max"))
tesla_data.reset_index(inplace=True)

In [262]:
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

### Question 2: Extracting Tesla Revenue Data Using Web Scraping

In [3]:
pip install beautifulsoup4 requests

Requirement already satisfied: beautifulsoup4 in ./opt/anaconda3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (2.32.3)
Requirement already satisfied: soupsieve>1.2 in ./opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [269]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
html_data = requests.get(url).text

soup = BeautifulSoup(html_data,'html.parser')

In [270]:
table = soup.find_all('table', class_ = 'historical_data_table table')
Tab = table[1]

In [271]:
row = Tab.find_all('tr')
row

[<tr>
 <th colspan="2" style="text-align:center">Tesla Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>,
 <tr>
 <td style="text-align:center">2022-09-30</td>
 <td style="text-align:center">$21,454</td>
 </tr>,
 <tr>
 <td style="text-align:center">2022-06-30</td>
 <td style="text-align:center">$16,934</td>
 </tr>,
 <tr>
 <td style="text-align:center">2022-03-31</td>
 <td style="text-align:center">$18,756</td>
 </tr>,
 <tr>
 <td style="text-align:center">2021-12-31</td>
 <td style="text-align:center">$17,719</td>
 </tr>,
 <tr>
 <td style="text-align:center">2021-09-30</td>
 <td style="text-align:center">$13,757</td>
 </tr>,
 <tr>
 <td style="text-align:center">2021-06-30</td>
 <td style="text-align:center">$11,958</td>
 </tr>,
 <tr>
 <td style="text-align:center">2021-03-31</td>
 <td style="text-align:center">$10,389</td>
 </tr>,
 <tr>
 <td style="text-align:center">2020-12-31</td>
 <td style="text-align:center">$10,744</td>
 </tr>,
 <tr>
 <td style="text-align:center">2020-09-30</td>
 <td style="text-align:center">$8,771</td>
 </tr>,
 <tr>
 <td style="text-align:center">2020-06-30</td>
 <td style="text-align:center">$6,036</td>
 </tr>,
 <tr>
 <td style="text-align:center">2020-03-31</td>
 <td style="text-align:center">$5,985</td>
 </tr>,
 <tr>
 <td style="text-align:center">2019-12-31</td>
 <td style="text-align:center">$7,384</td>
 </tr>,
 <tr>
 <td style="text-align:center">2019-09-30</td>
 <td style="text-align:center">$6,303</td>
 </tr>,
 <tr>
 <td style="text-align:center">2019-06-30</td>
 <td style="text-align:center">$6,350</td>
 </tr>,
 <tr>
 <td style="text-align:center">2019-03-31</td>
 <td style="text-align:center">$4,541</td>
 </tr>,
 <tr>
 <td style="text-align:center">2018-12-31</td>
 <td style="text-align:center">$7,226</td>
 </tr>,
 <tr>
 <td style="text-align:center">2018-09-30</td>
 <td style="text-align:center">$6,824</td>
 </tr>,
 <tr>
 <td style="text-align:center">2018-06-30</td>
 <td style="text-align:center">$4,002</td>
 </tr>,
 <tr>
 <td style="text-align:center">2018-03-31</td>
 <td style="text-align:center">$3,409</td>
 </tr>,
 <tr>
 <td style="text-align:center">2017-12-31</td>
 <td style="text-align:center">$3,288</td>
 </tr>,
 <tr>
 <td style="text-align:center">2017-09-30</td>
 <td style="text-align:center">$2,985</td>
 </tr>,
 <tr>
 <td style="text-align:center">2017-06-30</td>
 <td style="text-align:center">$2,790</td>
 </tr>,
 <tr>
 <td style="text-align:center">2017-03-31</td>
 <td style="text-align:center">$2,696</td>
 </tr>,
 <tr>
 <td style="text-align:center">2016-12-31</td>
 <td style="text-align:center">$2,285</td>
 </tr>,
 <tr>
 <td style="text-align:center">2016-09-30</td>
 <td style="text-align:center">$2,298</td>
 </tr>,
 <tr>
 <td style="text-align:center">2016-06-30</td>
 <td style="text-align:center">$1,270</td>
 </tr>,
 <tr>
 <td style="text-align:center">2016-03-31</td>
 <td style="text-align:center">$1,147</td>
 </tr>,
 <tr>
 <td style="text-align:center">2015-12-31</td>
 <td style="text-align:center">$1,214</td>
 </tr>,
 <tr>
 <td style="text-align:center">2015-09-30</td>
 <td style="text-align:center">$937</td>
 </tr>,
 <tr>
 <td style="text-align:center">2015-06-30</td>
 <td style="text-align:center">$955</td>
 </tr>,
 <tr>
 <td style="text-align:center">2015-03-31</td>
 <td style="text-align:center">$940</td>
 </tr>,
 <tr>
 <td style="text-align:center">2014-12-31</td>
 <td style="text-align:center">$957</td>
 </tr>,
 <tr>
 <td style="text-align:center">2014-09-30</td>
 <td style="text-align:center">$852</td>
 </tr>,
 <tr>
 <td style="text-align:center">2014-06-30</td>
 <td style="text-align:center">$769</td>
 </tr>,
 <tr>
 <td style="text-align:center">2014-03-31</td>
 <td style="text-align:center">$621</td>
 </tr>,
 <tr>
 <td style="text-align:center">2013-12-31</td>
 <td style="text-align:center">$615</td>
 </tr>,
 <tr>
 <td style="text-align:center">2013-09-30</td>
 <td style="text-align:center">$431</td>
 </tr>,
 <tr>
 <td style="text-align:center">2013-06-30</td>
 <td style="text-align:center">$405</td>
 </tr>,
 <tr>
 <td style="text-align:center">2013-03-31</td>
 <td style="text-align:center">$562</td>
 </tr>,
 <tr>
 <td style="text-align:center">2012-12-31</td>
 <td style="text-align:center">$306</td>
 </tr>,
 <tr>
 <td style="text-align:center">2012-09-30</td>
 <td style="text-align:center">$50</td>
 </tr>,
 <tr>
 <td style="text-align:center">2012-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>,
 <tr>
 <td style="text-align:center">2012-03-31</td>
 <td style="text-align:center">$30</td>
 </tr>,
 <tr>
 <td style="text-align:center">2011-12-31</td>
 <td style="text-align:center">$39</td>
 </tr>,
 <tr>
 <td style="text-align:center">2011-09-30</td>
 <td style="text-align:center">$58</td>
 </tr>,
 <tr>
 <td style="text-align:center">2011-06-30</td>
 <td style="text-align:center">$58</td>
 </tr>,
 <tr>
 <td style="text-align:center">2011-03-31</td>
 <td style="text-align:center">$49</td>
 </tr>,
 <tr>
 <td style="text-align:center">2010-12-31</td>
 <td style="text-align:center">$36</td>
 </tr>,
 <tr>
 <td style="text-align:center">2010-09-30</td>
 <td style="text-align:center">$31</td>
 </tr>,
 <tr>
 <td style="text-align:center">2010-06-30</td>
 <td style="text-align:center">$28</td>
 </tr>,
 <tr>
 <td style="text-align:center">2010-03-31</td>
 <td style="text-align:center">$21</td>
 </tr>,
 <tr>
 <td style="text-align:center">2009-12-31</td>
 <td style="text-align:center"></td>
 </tr>,
 <tr>
 <td style="text-align:center">2009-09-30</td>
 <td style="text-align:center">$46</td>
 </tr>,
 <tr>
 <td style="text-align:center">2009-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>]

In [277]:
tesla_data = []

for i in row[1:]:
    data = i.text
    tesla_data.append(data.replace('\n',""))

In [278]:
Year = []
Revenue = []

for i in tesla_data:
    Year.append(i[:10])
    Revenue.append(i[10:])

dict = {'Date': Year,'Revenue (Millions of US $)':Revenue}

tesla_revenue = pd.DataFrame(dict)

tesla_revenue.tail()

          Date Revenue (Millions of US $)
49  2010-06-30                        $28
50  2010-03-31                        $21
51  2009-12-31
52  2009-09-30                        $46
53  2009-06-30                        $27

In [243]:
ticker_symbol = "GME"

GameStop_data = yf.Ticker(ticker_symbol)

gme_data = pd.DataFrame(GameStop_data.history(period="max"))
gme_data.reset_index(inplace=True)

In [244]:
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [103]:
url_GME = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

html_data_GME = requests.get(url_GME).text

soup_GME = BeautifulSoup(html_data_GME,'lxml')

In [217]:
table_GME = soup_GME('table', class_ = 'historical_data_table table')
print(table_GME)

[<table class="historical_data_table table">
<thead>
<tr>
<th colspan="2" style="text-align:center">GameStop Annual Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">2020</td>
<td style="text-align:center">$6,466</td>
</tr>
<tr>
<td style="text-align:center">2019</td>
<td style="text-align:center">$8,285</td>
</tr>
<tr>
<td style="text-align:center">2018</td>
<td style="text-align:center">$8,547</td>
</tr>
<tr>
<td style="text-align:center">2017</td>
<td style="text-align:center">$7,965</td>
</tr>
<tr>
<td style="text-align:center">2016</td>
<td style="text-align:center">$9,364</td>
</tr>
<tr>
<td style="text-align:center">2015</td>
<td style="text-align:center">$9,296</td>
</tr>
<tr>
<td style="text-align:center">2014</td>
<td style="text-align:center">$9,040</td>
</tr>
<tr>
<td style="text-align:center">2013</td>
<td style="text-align:center">$8,887</td>
</tr>
<tr>
<td style="text-align:center">2012</td>
<td style="text-align:center">$9,551</td>
</tr>
<tr>
<td style="text-align:center">2011</td>
<td style="text-align:center">$9,474</td>
</tr>
<tr>
<td style="text-align:center">2010</td>
<td style="text-align:center">$9,078</td>
</tr>
<tr>
<td style="text-align:center">2009</td>
<td style="text-align:center">$8,806</td>
</tr>
<tr>
<td style="text-align:center">2008</td>
<td style="text-align:center">$7,094</td>
</tr>
<tr>
<td style="text-align:center">2007</td>
<td style="text-align:center">$5,319</td>
</tr>
<tr>
<td style="text-align:center">2006</td>
<td style="text-align:center">$3,092</td>
</tr>
<tr>
<td style="text-align:center">2005</td>
<td style="text-align:center">$1,843</td>
</tr>
</tbody>
</table>, <table class="historical_data_table table">
<thead>
<tr>
<th colspan="2" style="text-align:center">GameStop Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">2020-04-30</td>
<td style="text-align:center">$1,021</td>
</tr>
<tr>
<td style="text-align:center">2020-01-31</td>
<td style="text-align:center">$2,194</td>
</tr>
<tr>
<td style="text-align:center">2019-10-31</td>
<td style="text-align:center">$1,439</td>
</tr>
<tr>
<td style="text-align:center">2019-07-31</td>
<td style="text-align:center">$1,286</td>
</tr>
<tr>
<td style="text-align:center">2019-04-30</td>
<td style="text-align:center">$1,548</td>
</tr>
<tr>
<td style="text-align:center">2019-01-31</td>
<td style="text-align:center">$3,063</td>
</tr>
<tr>
<td style="text-align:center">2018-10-31</td>
<td style="text-align:center">$1,935</td>
</tr>
<tr>
<td style="text-align:center">2018-07-31</td>
<td style="text-align:center">$1,501</td>
</tr>
<tr>
<td style="text-align:center">2018-04-30</td>
<td style="text-align:center">$1,786</td>
</tr>
<tr>
<td style="text-align:center">2018-01-31</td>
<td style="text-align:center">$2,825</td>
</tr>
<tr>
<td style="text-align:center">2017-10-31</td>
<td style="text-align:center">$1,989</td>
</tr>
<tr>
<td style="text-align:center">2017-07-31</td>
<td style="text-align:center">$1,688</td>
</tr>
<tr>
<td style="text-align:center">2017-04-30</td>
<td style="text-align:center">$2,046</td>
</tr>
<tr>
<td style="text-align:center">2017-01-31</td>
<td style="text-align:center">$2,403</td>
</tr>
<tr>
<td style="text-align:center">2016-10-31</td>
<td style="text-align:center">$1,959</td>
</tr>
<tr>
<td style="text-align:center">2016-07-31</td>
<td style="text-align:center">$1,632</td>
</tr>
<tr>
<td style="text-align:center">2016-04-30</td>
<td style="text-align:center">$1,972</td>
</tr>
<tr>
<td style="text-align:center">2016-01-31</td>
<td style="text-align:center">$3,525</td>
</tr>
<tr>
<td style="text-align:center">2015-10-31</td>
<td style="text-align:center">$2,016</td>
</tr>
<tr>
<td style="text-align:center">2015-07-31</td>
<td style="text-align:center">$1,762</td>
</tr>
<tr>
<td style="text-align:center">2015-04-30</td>
<td style="text-align:center">$2,061</td>
</tr>
<tr>
<td style="text-align:center">2015-01-31</td>
<td style="text-align:center">$3,476</td>
</tr>
<tr>
<td style="text-align:center">2014-10-31</td>
<td style="text-align:center">$2,092</td>
</tr>
<tr>
<td style="text-align:center">2014-07-31</td>
<td style="text-align:center">$1,731</td>
</tr>
<tr>
<td style="text-align:center">2014-04-30</td>
<td style="text-align:center">$1,996</td>
</tr>
<tr>
<td style="text-align:center">2014-01-31</td>
<td style="text-align:center">$3,684</td>
</tr>
<tr>
<td style="text-align:center">2013-10-31</td>
<td style="text-align:center">$2,107</td>
</tr>
<tr>
<td style="text-align:center">2013-07-31</td>
<td style="text-align:center">$1,384</td>
</tr>
<tr>
<td style="text-align:center">2013-04-30</td>
<td style="text-align:center">$1,865</td>
</tr>
<tr>
<td style="text-align:center">2013-01-31</td>
<td style="text-align:center">$3,562</td>
</tr>
<tr>
<td style="text-align:center">2012-10-31</td>
<td style="text-align:center">$1,773</td>
</tr>
<tr>
<td style="text-align:center">2012-07-31</td>
<td style="text-align:center">$1,550</td>
</tr>
<tr>
<td style="text-align:center">2012-04-30</td>
<td style="text-align:center">$2,002</td>
</tr>
<tr>
<td style="text-align:center">2012-01-31</td>
<td style="text-align:center">$3,579</td>
</tr>
<tr>
<td style="text-align:center">2011-10-31</td>
<td style="text-align:center">$1,947</td>
</tr>
<tr>
<td style="text-align:center">2011-07-31</td>
<td style="text-align:center">$1,744</td>
</tr>
<tr>
<td style="text-align:center">2011-04-30</td>
<td style="text-align:center">$2,281</td>
</tr>
<tr>
<td style="text-align:center">2011-01-31</td>
<td style="text-align:center">$3,693</td>
</tr>
<tr>
<td style="text-align:center">2010-10-31</td>
<td style="text-align:center">$1,899</td>
</tr>
<tr>
<td style="text-align:center">2010-07-31</td>
<td style="text-align:center">$1,799</td>
</tr>
<tr>
<td style="text-align:center">2010-04-30</td>
<td style="text-align:center">$2,083</td>
</tr>
<tr>
<td style="text-align:center">2010-01-31</td>
<td style="text-align:center">$3,524</td>
</tr>
<tr>
<td style="text-align:center">2009-10-31</td>
<td style="text-align:center">$1,835</td>
</tr>
<tr>
<td style="text-align:center">2009-07-31</td>
<td style="text-align:center">$1,739</td>
</tr>
<tr>
<td style="text-align:center">2009-04-30</td>
<td style="text-align:center">$1,981</td>
</tr>
<tr>
<td style="text-align:center">2009-01-31</td>
<td style="text-align:center">$3,492</td>
</tr>
<tr>
<td style="text-align:center">2008-10-31</td>
<td style="text-align:center">$1,696</td>
</tr>
<tr>
<td style="text-align:center">2008-07-31</td>
<td style="text-align:center">$1,804</td>
</tr>
<tr>
<td style="text-align:center">2008-04-30</td>
<td style="text-align:center">$1,814</td>
</tr>
<tr>
<td style="text-align:center">2008-01-31</td>
<td style="text-align:center">$2,866</td>
</tr>
<tr>
<td style="text-align:center">2007-10-31</td>
<td style="text-align:center">$1,611</td>
</tr>
<tr>
<td style="text-align:center">2007-07-31</td>
<td style="text-align:center">$1,338</td>
</tr>
<tr>
<td style="text-align:center">2007-04-30</td>
<td style="text-align:center">$1,279</td>
</tr>
<tr>
<td style="text-align:center">2007-01-31</td>
<td style="text-align:center">$2,304</td>
</tr>
<tr>
<td style="text-align:center">2006-10-31</td>
<td style="text-align:center">$1,012</td>
</tr>
<tr>
<td style="text-align:center">2006-07-31</td>
<td style="text-align:center">$963</td>
</tr>
<tr>
<td style="text-align:center">2006-04-30</td>
<td style="text-align:center">$1,040</td>
</tr>
<tr>
<td style="text-align:center">2006-01-31</td>
<td style="text-align:center">$1,667</td>
</tr>
<tr>
<td style="text-align:center">2005-10-31</td>
<td style="text-align:center">$534</td>
</tr>
<tr>
<td style="text-align:center">2005-07-31</td>
<td style="text-align:center">$416</td>
</tr>
<tr>
<td style="text-align:center">2005-04-30</td>
<td style="text-align:center">$475</td>
</tr>
<tr>
<td style="text-align:center">2005-01-31</td>
<td style="text-align:center">$709</td>
</tr>
</tbody>
</table>, <table class="historical_data_table table">
<thead>
<tr>
<th style="text-align:center">Sector</th>
<th style="text-align:center">Industry</th>
<th style="text-align:center">Market Cap</th>
<th style="text-align:center">Revenue</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/sector/3/retail-wholesale">Retail/Wholesale</a></td>
<td style="text-align:center"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/industry/156/">Retail - Consumer Electronics</a></td>
<td style="text-align:center">$0.293B</td>
<td style="text-align:center">$6.466B</td>
</tr>
<tr>
<td colspan="4" style="padding:15px;">
<span>GameStop Corp. is the world's largest video game and entertainment software retailer. The company operates 4,816 retail stores across the United States and in fifteen countries worldwide. The company also operates two e-commerce sites, GameStop.com and EBgames.com, and publishes Game Informer? magazine, a leading multi-platform video game publication. GameStop Corp. sells new and used video game software, hardware and accessories for next generation video game systems from Sony, Nintendo, and Microsoft. In addition, the company sells PC entertainment software, related accessories and other merchandise.</span>
</td>
</tr>
</tbody>
</table>, <table class="historical_data_table table">
<thead>
<tr>
<th style="text-align:center; width:40%;">Stock Name</th>
<th style="text-align:center; width:20%;">Country</th>
<th style="text-align:center; width:20%;">Market Cap</th>
<th style="text-align:center; width:20%;">PE Ratio</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/charts/BBY/best-buy/revenue">Best Buy (BBY)</a></td>
<td style="text-align:center">United States</td>
<td style="text-align:center">$27.033B</td>
<td style="text-align:center">18.16</td>
</tr>
<tr>
<td style="text-align:left"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/charts/AAN/aarons,-/revenue">Aaron's,  (AAN)</a></td>
<td style="text-align:center">United States</td>
<td style="text-align:center">$3.975B</td>
<td style="text-align:center">15.14</td>
</tr>
<tr>
<td style="text-align:left"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/charts/GMELY/gome-retail-holdings/revenue">GOME Retail Holdings (GMELY)</a></td>
<td style="text-align:center">China</td>
<td style="text-align:center">$1.684B</td>
<td style="text-align:center">0.00</td>
</tr>
<tr>
<td style="text-align:left"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/charts/SYX/systemax/revenue">Systemax (SYX)</a></td>
<td style="text-align:center">United States</td>
<td style="text-align:center">$0.873B</td>
<td style="text-align:center">18.34</td>
</tr>
<tr>
<td style="text-align:left"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/charts/CONN/conns/revenue">Conn's (CONN)</a></td>
<td style="text-align:center">United States</td>
<td style="text-align:center">$0.325B</td>
<td style="text-align:center">0.00</td>
</tr>
<tr>
<td style="text-align:left"><a href="https://web.archive.org/web/20200814131437/https://www.macrotrends.net/stocks/charts/TAIT/taitron-components/revenue">Taitron Components (TAIT)</a></td>
<td style="text-align:center">United States</td>
<td style="text-align:center">$0.016B</td>
<td style="text-align:center">10.50</td>
</tr>
</tbody>
</table>]

In [238]:
GME_Data = table_GME[1]

In [235]:
use_data = []
for i in GME_Data.find_all('tr')[1:]:
    data = i.text
    use_data.append(data.replace('\n',""))

In [242]:
date = []
revenue = []

for i in use_data:
    date.append(i[:10])
    revenue.append(i[10:])
dict = {'Year':date,'Revenue (Millions of US $)':revenue}

gme_revenue = pd.DataFrame(dict)
gme_revenue.tail()

          Year Revenue (Millions of US $)
57  2006-01-31                     $1,667
58  2005-10-31                       $534
59  2005-07-31                       $416
60  2005-04-30                       $475
61  2005-01-31                       $709

In [ ]:
tesla_stock_data

In [ ]:
tesla_df

In [251]:
plt.figure(figsize=(16, 8), dpi=150)